#body {
    background-color: #222222;
}

@font-face {
  font-family: crapaud_petit;
  src: url('../styles/fonts/crapaud_petit.otf');
}

@font-face{
  font-family: Interstate-Light;
  src: url('../styles/fonts/InterState/Interstate-Light.otf');
}

#logoWords{
  font-family: 'crapaud_petit', sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bold;
  /* font-weight: bold; */
  position: absolute;
  top: 36px;
  left: 49px;
  -webkit-transform: translate(0%, -50%);
  /* border: 1px solid black; */
}

#logo{
  margin-left: 5px;
  /* margin-bottom: 10px; */
  margin-top: 14px;
  width: 40px;
  height: 40px;
  /* opacity: .5; */
}

.formInput_option{
  width: 150px;
  height: 40px;
}

.indexCounter{
  width: 50px;
  padding-left: 10px;
  display: inline-block;
  padding-left: 10px;
  font-size: 15px;
}
.inputButtonThing{
  margin-left: 7px !important;
}
.choiceDescription{
  width: 300px;
  height: 40px;
}
.formCurrentTitle{
  color: black;
}

.surveyTitle{
  height: 40px;
  width: 600px;
  display: block;
    padding-left: 10px;
}

.questionTitle{
  height: 40px;
  width: 600px;
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.surveyDescription{
  height: 40px;
  width: 600px;
  display: block;
  padding-left: 10px;
}
.popupBackground {
    position: fixed;
    width: 1000%;
    height: 1000%;
    background-color: black;
    z-index: 999;
    opacity: 0.7;
    top: 0;
    left: 0;
}


/*.teamNameRow:hover{
  opacity: 0.4;

}*/

.teamNameRow {
    height: 40px;
    padding-top: 5px;
}

.popupWindow {
    position: fixed;
    width: 80%;
    height: 56%;
    padding: 40px;
    border: 2px solid black;
    background-color: white;
    z-index: 1000;
    opacity: 1.0;
    top: 13%;
    left: 10%;
    text-align: center;
    border-radius: 7.25px;
}

/*#siteTitle {
    color: white;
}*/



.createNewSurvey {
    width: 100%;
    margin: .2%;
    margin-top: .35%;
    padding: 1%;
    text-align: center;
    display: inline-block;
    background-color: #07AA9E;
    cursor: pointer;
    border-radius: 2.5px;
    box-shadow: 2.5px 2.5px 2.5px grey;
    font-weight: bold;
  }


.createNewSurvey:hover {
    color: white;
    background-color: #45AA9E;
}

.createNewSurvey:active {
    color: white;
    background-color: #45AA9E;
    box-shadow: none;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    clear: both;
}

a {
    color: white;
}

.teamName {
    width: 300px;
    display: inline-block;
    padding-left: 10px;
}

.teamListItem {
    height: 30px;
    /*text-align: center;*/
    font-size: 20px;
    width: 1000px;
    background-color: #DAE5E3;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin: auto;
}

main * {
        font-family: 'Interstate-Light', sans-serif;
    font-weight: 300;
}

.comments {
    /*display: inline;*/
    /*float: left;*/
    /*margin-left: 5px;*/
}


.sprintTabResults {
    /*display: inline;*/
    float: right;
}

.main_container {
    background-color: #DAE5E3;
    margin: auto;
    height: 100%;
    padding: 20px;
    /*overflow-y: scroll;*/
}

.editable-buttons button {
    display: none;
}

.currentSprint {
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    width: 90%;
}


/*==========NAME GENERATOR========*/

.teamNameForm {
    margin: 0 auto;
    padding: .5%;
    /*border: medium solid teal;*/
    background-color: hsla(176, 26%, 70%, .5) padding-bottom: 2%;
    padding-top: 2%;
    /*display: inline-block;*/
}

.membertabSprint {
    width: 45%;
    margin: 2%;
    text-align: center;
    display: inline-block;
    background-color: #07AA9E;
    opacity: 0.40;
    cursor: pointer;
}

.sprintLaunch{
    display: block;
  width: 100%;
  margin: auto;
  font-size: 14px !important;


}

.activeMemberTab {
    width: 45%;
    margin: 2%;
    text-align: center;
    display: inline-block;
    background-color: #07AA9E;
    cursor: pointer;
    /*color: white;*/
}

.sprintTab {
  color: black;
  cursor: pointer;
  border-radius: 2.5px;
  width: 210px !important;
  margin-top: 10px;
  height: 25px;
  padding-top: 2px;
  /*font-weight: bold;*/

}

.sprintTab:hover {
    color: white;
    background-color: #45AA9E;

}

.activeSurveyResultButton {
  display: inline;
}

.activeTab {
    width: 10%;
    margin: .2%;
    margin-top: .35%;
    text-align: center;
    display: inline-block;
    background-color: #07AA9E;
    border: 1px solid white;
    /*opacity: 0.40;*/
    color: white;
}

.notActiveTab {
    width: 10%;
    margin: .2%;
    margin-top: .35%;
    text-align: center;
    display: inline-block;
    background-color: #07AA9E;
}

.teamNameForm label {
    /*width: 100%;*/
    text-align: center;
    margin: 0 auto;
    /*display: inline;*/
}

.teamNameForm span {
    display: block;
}

.memRow {
    height: 45px;
    padding-top: 5px;
    padding-bottom: 8px;
}

.teamHeader {
    padding: 0;
    border-bottom: thin solid #07AA9E;
}

#teamNameBox {
    border: thin solid #07AA9E;
    /*background-color: #07AA9E;*/
    margin: 0;
}

.confirmButton{
  margin: .5%;
  text-align: center;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 2.5px;
  box-shadow: 2.5px 2.5px 2.5px grey;
  padding: .5%;
  white-space: nowrap;
  font-size: 14px !important;
}

.confirmButton:hover {
    color: white;
    background-color: #45AA9E;
}

.confirmButton:active {
    color: white;
    background-color: #45AA9E;
    box-shadow: none;
}

.dataButton{
  width: 200px;
  margin: 0;
  margin-top: .1%;
  text-align: center;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 2.5px;
  font-weight:lighter;
  margin-left:20%
}

.dataButton:hover {
    color: white;
    /*background-color: #45AA9E;*/
}

.dataButton:active {
    color: white;
    /*background-color: #45AA9E;*/
}

.currentSurvey_title {
  color: black;
}
.editable {
    font-size: 1.2em;
    /*color: black;*/
    margin: .5%;
    line-height: 1.2em;
}

.editable-click {
    font-size: 1.2em;
    /*color: black;*/
    margin: .5%;
    line-height: 1.2em;
}

.genTeamNameButton {
    display: inline;
}


/*==========MEMBER & PENDING TABLES========*/

.header {
    border-collapse: collapse;
    width: 100%;
}

.divcolumn {
    display: inline-block;
    /*border: thin solid black;*/
    /*color: red;*/
    margin: .3%;
    text-align: center;
    width: 11%;
    /*border-collapse: collapse;*/
}

h3 {
    font-size: 16px;
}

.display_name {
    /*white-space: nowrap;*/
    font-size: .9em;
    width: 20%;
}

.iconCol {
    width: 3.5%;
    cursor: pointer;
}

.memTitle {
    margin: .5%;
    text-decoration: underline;
}

.memTable {
    border: thin solid black;
    border-collapse: collapse;
}

.memTable th, td {
    border-bottom: thin solid black;
    border: 1px solid black;
}

.memTable td {
    padding: .5%;
    text-align: center;
}

.imgBox {
    display: none;
}

.fa {
    font-size: 28px !important;
}

.imgAutoResize {
    max-width: 1.17em;
    height: auto;
    width: auto;
    /*background-color: pink;*/
}

.oddMemList {
    background-color: hsla(176, 26%, 70%, .9);
}


/*=========FORMS STYLES========*/

.formInput_shortAnswer {
    width: 600px;
    height: 30px;
    text-align: center;
    height: 40px;
    font-style: italic;
    display: none;
    /*background-color: slategrey;*/
}

.dynamicForm_history {
    background-color: #DAE5E3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.newOption{
  margin-left: 55px;
}
h3 {
    margin: 0;
}

header {
    text-align: center;
    font-size: 300%;
}

p {
    margin: 0;
}

h1 {
    color: white;
    font-weight: normal;
}

.dynamicForm_container {
    padding-left: 20px;
    padding-top: 20px;
    text-align: left !important;
    background-color: #DAE5E3;
    /*float: left;*/
}

.bodyText {
    font-size: 0.8em;
    font-family: 'proxima-nova-soft', sans-serif;
    border: 1px solid #ddd;
    background: #fff;
    padding: 1em;
    transition: all 0.3s ease-in-out;
    width: 65%;
    display: block;
    width: 100%;
    height: 6em;
    /*margin-left: 190px;*/
}

.headerText {
    font-size: 0.8em;
    font-family: 'proxima-nova-soft', sans-serif;
    font-weight: bold;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.9em;
    transition: all 0.3s ease-in-out;
    width: 45%;
    display: block;
    width: 100%;
    height: 3em;
    /*margin-left: 300px;*/
}

.currentForm_title {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
}

.currentForm_title2 {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.30);
}

.dashboard {
    width: 95%;
}

.sprintContainer {
    /*float: right;*/
    /*width: 40%;*/
    position: absolute;
    left: 0;
    top: 420px;
    width: 100%;
    display: block;
    overflow: scroll;
    /*right: 0;*/
}

.sprint_option {
  /*position: absolute;*/
  /*left: 0;*/
  padding-top: 5px;
  width: 1000px;
    /*height: 50px;*/
  border-top: 1px solid black;
  border-bottom: .5px solid black;
  background-color: #DAE5E3;
  text-align: center;
  cursor: pointer;
  margin: auto;
}

.emailForm {
    text-align: center;
}

/*=====TEMP ACTIVE EMAIL SELECTORS======*/

.active {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active1 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active2 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active3 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active4 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active5 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active6 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active7 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active8 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active9 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

.active10 {
  background: teal;
  border: 1px solid teal;
  border-radius: 150px;
  padding: 3.5px;
  margin: 0;
}

/*==========NAV BUTTONS========*/

.tabBar {
    background-color: #1A1A1A;
    /*display: inline-block;*/
    width: 100%;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.homeButton {
    display: inline-block;
}

.loginButton {
    color: white;
    font-family: 'crapaud_petit', sans-serif;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 1%;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.topNavContainer {
    /*do not style*/
    margin: .25% auto;
}

.topNavContainer a {
    color: black;
}

.topNavContainer a:hover {
    color: white;
    background-color: #45AA9E;
}

/*.topNavContainer a:active {
    color: white;
    font-weight: bold;
    background-color: #45AA9E;
}*/

.topNavButton {
    margin: 0 auto;
    border: .5px solid black;
    width: 50%;
    height: 40px;
    background-color: #07AA9E;
    padding-top: 2px;
    font-family: 'Interstate-Light', sans-serif;
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
    border-radius: 2.5px;

}

.dashButton {
    float: left;
}

.adminButton {
    float: right;
}

.topNavButton a {
    text-decoration: none;
    color: black;
}


/*===========FIRST LOG IN QUESTIONS============*/

.popOut {
    z-index: 900;
    position: fixed;
    top: 0;
    left: -1px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.exitFullscreen {
    font: 200 20px/145px;
    font-family: 'Interstate-Light', sans-serif;

    text-align: center;
    text-transform: uppercase;
    color: white;
    position: fixed;
    margin: 0 auto;
    padding: 0 auto;
    top: 10%;
    left: 10%;
    z-index: 1000;
    -webkit-transform: translate(-50%, -50%);
    outline: none;
    cursor: pointer;
}

.questionsBox {
    border: 1px solid white;
    background-color: #fff;
    text-align: center;
    width: 50%;
    /*height: 50%;*/
    z-index: 999;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 25%;
    /*margin-left: 325px;*/
    /*top: -50px;*/
}

.firstLogTitle {
    /*position: absolute;*/
    display: block;
    text-align: center;
    /*margin: 0 auto;*/
}

.firstLogQuestion {
    /*position: absolute;*/
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    /*top: 50%;
  left: 35%;*/
}


/*==========ICONS========*/

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}

.fa-th {
    color: green;
}


/*==========CHARTMANDER========*/

#chart {
  position: absolute;
  display: block;
  /* z-index: 999; */
  border: .5px solid black;
  left: 0;
  width: 1000px;
  margin: auto;
  overflow-x: scroll;
  background-color: #DAE5E3;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  top: 250px;
  left: 50%;
}

path {
    /*stroke: #39787D;*/
    stroke-width: 2;
    fill: none;
}

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


/*data tabs trial*/

.tab {
    list-style: none;
    padding: 5px;
    display: inline-block;
    background-color: #000;
    color: #FFF;
    border: 1px solid black;
    border-radius: 5px;
}

.tab:hover {
    background-color: #4a4a4a;
    color: #FFF;
    cursor: pointer;
}
