#body {
    background-color: #222222;
}

@font-face {
  font-family: crapaud_petit;
  src: url('../styles/fonts/crapaud_petit.otf');
}

#logoWords{
font-family: 'crapaud_petit', sans-serif;
font-size: 300%;
color: white;
/*font-weight: bold;*/
position: absolute;
top: 40px;
left: 70px;
-webkit-transform: translate(0%, -50%);
/*border: 1px solid black;*/
}

#logo{
margin-left: 0;
margin-bottom: 0;
width: 75px;
height: 75px;
/*opacity: .5;*/
}

.popupBackground {
    position: fixed;
    width: 1000%;
    height: 1000%;
    background-color: black;
    z-index: 999;
    opacity: 0.7;
    top: 0;
    left: 0;
}


/*.teamNameRow:hover{
  opacity: 0.4;

}*/

.teamNameRow {
    height: 40px;
    padding-top: 5px;
}

.popupWindow {
    position: fixed;
    width: 80%;
    height: 74%;
    background-color: white;
    z-index: 1000;
    opacity: 1.0;
    top: 13%;
    left: 10%;
    text-align: center;
    border-radius: 7.25px;
}

/*#siteTitle {
    color: white;
}*/



.createNewSurvey {
    width: 100%;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    clear: both;
}

a {
    color: white;
}

.teamName {
    width: 60%;
    display: inline-block;
    padding-left: 10px;
}

.teamListItem {
    height: 30px;
    /*text-align: center;*/
    font-size: 20px;
    width: 100%;
    background-color: #DAE5E3;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

main * {
    font-family: 'Helvetica';
    font-weight: 300;
}

.comments {
    /*display: inline;*/
    /*float: left;*/
    /*margin-left: 5px;*/
}

.sprintTabResults {
    /*display: inline;*/
    float: right;
}

.main_container {
    background-color: #DAE5E3;
    margin: auto;
    height: 100%;
    padding: 20px;
    /*overflow-y: scroll;*/
}

.editable-buttons button {
    display: none;
}

.currentSprint {
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    width: 90%;
}


/*==========NAME GENERATOR========*/

.teamNameForm {
    margin: 0 auto;
    padding: .5%;
    /*border: medium solid teal;*/
    background-color: hsla(176, 26%, 70%, .5) padding-bottom: 2%;
    padding-top: 2%;
    /*display: inline-block;*/
}

.membertabSprint {
    width: 45%;
    margin: 2%;
    text-align: center;
    display: inline-block;
    background-color: #07AA9E;
    opacity: 0.40;
    cursor: pointer;
}

.activeMemberTab {
    width: 45%;
    margin: 2%;
    text-align: center;
    display: inline-block;
    background-color: #07AA9E;
    cursor: pointer;
}

.sprintTab {
  color: black;
  cursor: pointer;
  border-radius: 2.5px;
}

.sprintTab:hover {
    color: white;
    background-color: #45AA9E;

}

.activeSurveyResultButton {
  display: inline;
}

.activeTab {
    width: 10%;
    margin: .2%;
    margin-top: .35%;
    text-align: center;
    display: inline-block;
    background-color: #07AA9E;
    opacity: 0.40;
}

.notActiveTab {
    width: 10%;
    margin: .2%;
    margin-top: .35%;
    text-align: center;
    display: inline-block;
    background-color: #07AA9E;
}

.teamNameForm label {
    /*width: 100%;*/
    text-align: center;
    margin: 0 auto;
    /*display: inline;*/
}

.teamNameForm span {
    display: block;
}

.memRow {
    /*height: 50px;*/
    padding-top: 5px;
    padding-bottom: 8px;
}

.teamHeader {
    padding: 0;
    border-bottom: thin solid #07AA9E;
}

#teamNameBox {
    border: thin solid #07AA9E;
    background-color: #07AA9E;
    margin: 0;
}

.confirmButton{
  width: 10%;
  margin: .2%;
  margin-top: .35%;
  text-align: center;
  display: inline-block;
  background-color: #07AA9E;
  cursor: pointer;
  border-radius: 2.5px;
  box-shadow: 2.5px 2.5px 2.5px grey;
}

.confirmButton:hover {
    color: white;
    background-color: #45AA9E;
}

.confirmButton:active {
    color: white;
    background-color: #45AA9E;
    box-shadow: none;
}

.editable {
    font-size: 1.2em;
    /*color: black;*/
    margin: .5%;
    line-height: 1.2em;
}

.editable-click {
    font-size: 1.2em;
    /*color: black;*/
    margin: .5%;
    line-height: 1.2em;
}

.genTeamNameButton {
    display: inline;
}


/*==========MEMBER & PENDING TABLES========*/

.header {
    border-collapse: collapse;
    width: 100%;
}

.divcolumn {
    display: inline-block;
    /*border: thin solid black;*/
    /*color: red;*/
    margin: .3%;
    text-align: center;
    width: 11%;
    /*border-collapse: collapse;*/
}

h3 {
    font-size: 20px;
}

.display_name {
    /*white-space: nowrap;*/
    font-size: .9em;
    width: 20%;
}

.iconCol {
    width: 3.5%;
    cursor: pointer;
}

.memTitle {
    margin: .5%;
    text-decoration: underline;
}

.memTable {
    border: thin solid black;
    border-collapse: collapse;
}

.memTable th, td {
    border-bottom: thin solid black;
    border: 1px solid black;
}

.memTable td {
    padding: .5%;
    text-align: center;
}

.imgBox {
    display: none;
}

.fa {
    font-size: 28px !important;
}

.imgAutoResize {
    max-width: 1.17em;
    height: auto;
    width: auto;
    /*background-color: pink;*/
}

.oddMemList {
    background-color: hsla(176, 26%, 70%, .5);
}


/*=========FORMS STYLES========*/

.formInput_shortAnswer {
    width: 600px;
    height: 30px;
}

.dynamicForm_history {
    background-color: #DAE5E3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}

h3 {
    margin: 0;
}

header {
    text-align: center;
    font-size: 300%;
}

p {
    margin: 0;
}

h1 {
    color: white;
    font-weight: normal;
}

.dynamicForm_container {
    padding-left: 20px;
    padding-top: 20px;
    text-align: left !important;
    background-color: #DAE5E3;
    /*float: left;*/
}

.bodyText {
    font-size: 0.8em;
    font-family: 'proxima-nova-soft', sans-serif;
    border: 1px solid #ddd;
    background: #fff;
    padding: 1em;
    transition: all 0.3s ease-in-out;
    width: 65%;
    display: block;
    margin-left: 190px;
}

.headerText {
    font-size: 0.8em;
    font-family: 'proxima-nova-soft', sans-serif;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.9em;
    transition: all 0.3s ease-in-out;
    width: 45%;
    display: block;
    margin-left: 300px;
}

.currentForm_title {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
}

.currentForm_title2 {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.30);
}

.dashboard {
    width: 95%;
}

.sprintContainer {
    /*float: right;*/
    /*width: 40%;*/
    position: absolute;
    left: 0;
    top: 420px;
    width: 100%;
    display: block;
    overflow: scroll;
    /*right: 0;*/
}

.sprint_option {
  /*position: absolute;*/
  /*left: 0;*/
  padding-top: 5px;
  width: 100%;
    /*height: 50px;*/
  border-top: 1px solid black;
  border-bottom: .5px solid black;
  background-color: #DAE5E3;
  text-align: center;
  cursor: pointer;
}

.emailForm {
    text-align: center;
}


/*==========NAV BUTTONS========*/

.tabBar {
    background-color: black;
    /*display: inline-block;*/
    width: 100%;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.homeButton {
    display: inline-block;
}

.loginButton {
    color: white;
    font-family: 'crapaud_petit', sans-serif;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 1%;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.topNavContainer {
    /*do not style*/
    margin: .25% auto;
}

.topNavContainer a {
    color: black;
}

.topNavContainer a:hover {
    color: white;
    background-color: #45AA9E;
}

.topNavButton {
    margin: 0 auto;
    border: .5px solid black;
    width: 50%;
    height: 40px;
    background-color: #07AA9E;
    padding-top: 2px;
    font-family: helvetica;
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;

}

.dashButton {
    float: left;
}

.adminButton {
    float: right;
}

.topNavButton a {
    text-decoration: none;
    color: black;
}


/*===========FIRST LOG IN QUESTIONS============*/

.popOut {
    z-index: 900;
    position: fixed;
    top: 0;
    left: -1px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.exitFullscreen {
    font: 200 20px/145px Helvetica;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: fixed;
    margin: 0 auto;
    padding: 0 auto;
    top: 10%;
    left: 10%;
    z-index: 1000;
    -webkit-transform: translate(-50%, -50%);
    outline: none;
    cursor: pointer;
}

.questionsBox {
    border: 1px solid white;
    background-color: #fff;
    text-align: center;
    width: 50%;
    /*height: 50%;*/
    z-index: 999;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 25%;
    /*margin-left: 325px;*/
    /*top: -50px;*/
}

.firstLogTitle {
    /*position: absolute;*/
    display: block;
    text-align: center;
    /*margin: 0 auto;*/
}

.firstLogQuestion {
    /*position: absolute;*/
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    /*top: 50%;
  left: 35%;*/
}


/*==========ICONS========*/

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}

.fa-th {
    color: green;
}


/*==========CHARTMANDER========*/

#chart {
    position: absolute;
    display: block;
    /*z-index: 999;*/
    border: .5px solid black;
    left: 0;
    width: 100%;
    overflow-x: scroll;
    background-color: #DAE5E3;
    text-align: center;
}

path {
    /*stroke: #39787D;*/
    stroke-width: 2;
    fill: none;
}

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


/*data tabs trial*/

.tab {
    list-style: none;
    padding: 5px;
    display: inline-block;
    background-color: #000;
    color: #FFF;
    border: 1px solid black;
    border-radius: 5px;
}

.tab:hover {
    background-color: #4a4a4a;
    color: #FFF;
    cursor: pointer;
}
