<div id="chart"></div>


<div class="sprintContainer">
  <div ng-click="sprint1 = !sprint1" class="sprint_option">
    <h3>Sprint #1: Pilot</h3>
    <h5>41 participants // 0 teams </h5>
  </div>
  <div ng-show="sprint1">
    <div class="teamListItem">
    <div class="dataButton">Show Data</div> <p class="teamName" >No Team</p>
  </div>
  </div>
  <div ng-click="sprint2 = !sprint2" class="sprint_option">
    <h3>Sprint #2: Teamwork</h3>
    <h5>82 participants // 9 teams </h5>
  </div>
  <div ng-show="sprint2">
    <div class="teamListItem">
    <div class="dataButton dataButton0" ng-click="dataIsShowingAll ? reload('location') : showData('2All')">{{dataIsShowingAll ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName" >All Teams - 82 players - 75%</p>
  </div>
  <div class="teamListItem oddMemList">
    <div class="dataButton {{dataIsShowingDeimos ? 'dataButton1' : ''}}" ng-click="dataIsShowingDeimos ? showData('2Deimos') : showData('2Deimos')">{{dataIsShowingDeimos ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName" >Deimos - 5 players - 72%</p>
  </div>
  <div class="teamListItem">
    <div class="dataButton {{dataIsShowingLinus ? 'dataButton2' : ''}}" ng-click="dataIsShowing ? showData('2Linus') : showData('2Linus')">{{dataIsShowingLinus ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName" >Linus - 15 players - 89% </p>
  </div>
  <div class="teamListItem oddMemList">
    <div class="dataButton {{dataIsShowingIo ? 'dataButton3' : ''}}" ng-click="dataIsShowing ? showData('2Io') : showData('2Io')">{{dataIsShowingIo ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName" >Io - 5 players - 73%</p>
  </div>
  <div class="teamListItem">
    <div class="dataButton {{dataIsShowingIda ? 'dataButton4' : ''}}" ng-click="dataIsShowing ? showData('2Ida') : showData('2Ida')">{{dataIsShowingIda ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName" >Ida - 6 players - 72%</p>
  </div>
  <div class="teamListItem oddMemList">
    <div class="dataButton {{dataIsShowingGaspra ? 'dataButton5' : ''}}" ng-click="dataIsShowing ? showData('2Gaspra') : showData('2Gaspra')">{{dataIsShowingGaspra ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName" >Gaspra - 5 players - 99%</p>
  </div>
  <div class="teamListItem">
    <div class="dataButton {{dataIsShowingEuropa ? 'dataButton6' : ''}}" ng-click="dataIsShowing ? showData('2Europa') : showData('2Europa')">{{dataIsShowingEuropa ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName">Europa - 5 players - 71%</p>
  </div>
  <div class="teamListItem oddMemList">
    <div class="dataButton {{dataIsShowingDactyl ? 'dataButton7' : ''}}" ng-click="dataIsShowing ? showData('2Dactyl') : showData('2Dactyl')">{{dataIsShowingDactyl ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName" >Dactyl - 5 players - 84%</p>
  </div>
  <div class="teamListItem">
    <div class="dataButton {{dataIsShowingEros ? 'dataButton8' : ''}}" ng-click="dataIsShowing ? showData('2Eros') : showData('2Eros')">{{dataIsShowingEros ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName" >Eros - 5 players - 65%</p>
  </div>
  <div class="teamListItem oddMemList">
    <div class="dataButton {{dataIsShowingNo ? 'dataButton9' : ''}}" ng-click="dataIsShowing ? showData('2No') : showData('2No')">{{dataIsShowingNo ? 'Hide Data' : 'Show Data'}}</div> <p class="teamName" >No Team - 25 players - 65%</p>
  </div>

  </div>
    <div ng-click="sprint3 = !sprint3" class="sprint_option">
      <h3>Sprint #3: GitHyped</h3>
      <h5>96 participants // 6 teams </h5>
    </div>
    <div ng-show="sprint3">
      <div class="teamListItem">
      <div class="dataButton" ng-click="showData('3All')">Show Data</div> <p class="teamName" >All Teams</p>
    </div>
    <div class="teamListItem oddMemList">
      <div class="dataButton" ng-click="showData('3Chai')">Show Data</div> <p class="teamName" >Chai</p>
    </div>
    <div class="teamListItem">
      <div class="dataButton" ng-click="showData('3Eno')">Show Data</div> <p class="teamName" >Eno</p>
    </div>
    <div class="teamListItem oddMemList">
      <div class="dataButton" ng-click="showData('3Fopa')">Show Data</div> <p class="teamName" >Fopa</p>
    </div>
    <div class="teamListItem">
      <div class="dataButton" ng-click="showData('3Gira')">Show Data</div> <p class="teamName" >Gira</p>
    </div>
    <div class="teamListItem oddMemList">
      <div class="dataButton" ng-click="showData('3Meto')">Show Data</div> <p class="teamName" >Meto</p>
    </div>
    <div class="teamListItem">
      <div class="dataButton" ng-click="showData('3Petri')">Show Data</div> <p class="teamName" >Petri</p>
    </div>
    <div class="teamListItem oddMemList">
      <div class="dataButton" ng-click="showData('3No')">Show Data</div> <p class="teamName" >No Team</p>
    </div>


    </div>

    <style ng-repeat='color in colorArray track by $index'>

      .dataButton{{$index}}{ background-color: {{color}}; }

    </style>



    <!-- <div ng-repeat="sprint in sprintHistory track by $index" ng-click="clickedSprint(sprint.title)" class="sprint_option">

        <div ng-if="currentSprintOpen == sprint.title">
            <p ng-repeat="sprinter in sprint.data">{{sprinter.member_name}}//{{sprinter.member_score}}</p>
        </div>

        <h3>{{sprint.title}}</h3>
    </div> -->


    <!-- <div class="dataButton" ng-click="dataIsShowing ? hideData() : showData()">{{dataIsShowing ? 'hideData' : 'ShowData'}}</div class="dataButton">
    <div class="dataButton" ng-click="showLine('0')">RemoveLine1</div>
    <div class="dataButton" ng-click="showLine('1')">RemoveLine2</div> -->
</div>
