<div>
    <div>

        <h3>Sprint 3 Registration</h3>
        <p>Time to register for Sprint 3!</p>
        <div class="confirmButton" ng-click="setActive(survey)">SET AS ACTIVE SURVEY</div>
        <div class="confirmButton" ng-click="responses = !responses">VIEW RESPONSES</div>
        <br/><br/>

        <div ng-show="responses">
            <div>
                <h5 style="display:inline;font-weight:bold;line-height:2em;">What kind of language are you interested in learning?</h5>
                <div class="confirmButton" ng-click="results17 = !results17" style="display:inline;">View Results</div>
                <div ng-show="results17">
                    <h6>1. Java // 35%</h6>
                    <h6>2. iOS // 20%</h6>
                    <h6>3. PHP // 12%</h6>
                    <h6>4. Python // 9%</h6>
                    <h6>5. .NET // 12%</h6>
                    <h6>6. REACT // 4%</h6>
                    <h6>7. JavaScript // 14%</h6>
                    <h6>8. C# // 7%</h6>
                    <h6>9. Lua // 0%</h6>
                    <h6>10. Ruby // 5%</h6>
                    <h6>11. Other // 10%</h6>
                </div>
            </div>
            <div>
                <h5 style="display:inline;font-weight:bold;line-height:2em;">Any comments?</h5>
                <div class="confirmButton" ng-click="results2 = !results2" style="display:inline;">View Results</div>
                <div ng-show="results2">
                    <p>30 days closer to a year of at least 1 commit per day!</p>
                    <p>No</p>
                    <p>When the site is done, it'll be www.justwriteit.net</p>
                    <p>Hi Scott et al!</p>
                    <p>PUMPED.</p>
                    <p>This was an awesome experience, the only issue I had was a vacation I took at the end of it where I didn't have computer access and I felt bad about that.</p>
                    <p>I have a baby due Sept. 15, so I might have to go off the grid near the end of this.</p>
                    <p>I'm really open to suggestions if python isn't that great of a choice! Peers in my cohort are saying maybe try C instead, but since Python is a higher language and I'm still a beginner and doing classwork I figure I should stick with
                        the easier one to understand.</p>
                    <p>I sometimes fall asleep at my computer.</p>
                    <p>Team Ida!</p>
                    <p>I'm super rusty!</p>
                </div>
            </div>
            </br>
            </br>
        </div>
    </div>


    <div>
        <h3>Sprint 3 Check In</h3>
        <p>How are things going for you?</p>
        <div class="confirmButton" ng-click="setActive(survey)">SET AS ACTIVE SURVEY</div>
        <div class="confirmButton" ng-click="responses1 = !responses1">VIEW RESPONSES</div>
        <br/><br/>


        <div ng-show="responses1">
            <div>
                <h5 style="display:inline;font-weight:bold;line-height:2em;">Are you happy with your progress?</h5>
                <div class="confirmButton" ng-click="results3 = !results3" style="display:inline;">View Results</div>
                <div ng-show="results3">
                    <h6>1. Yes // 35%</h6>
                    <h6>2. No // 47%</h6>
                    <h6>3. Indifferent // 1234%</h6>
                </div>
            </div>
            <div>
                <h5 style="display:inline;font-weight:bold;line-height:2em;">Have any blockers?</h5>
                <div class="confirmButton" ng-click="results4 = !results4" style="display:inline;">View Results</div>
                <div ng-show="results4">
                    <h6>1. Yes // 35%</h6>
                    <h6>2. No // 47%</h6>
                    <h6>3. Indifferent // 1234%</h6>
                </div>
            </div>
            <div>
                <h5 style="display:inline;font-weight:bold;line-height:2em;">If so, what are they?</h5>
                <div class="confirmButton" ng-click="results5 = !results5" style="display:inline;">View Results</div>
                <div ng-show="results5">
                    <p>I'm stifled by the fear of failure</p>
                    <p>I've been working for hours and I can't figure this specific thing out. I'll talk to someone</p>
                    <p>My cat needed the cuddles!</p>
                    <p>Lost my computer</p>
                </div>
            </div>
            </br>
            </br>
        </div>
    </div>


    <div>
        <h3>Sprint 3 Conclusion </h3>
        <p>It's the end of the Sprint!</p>
        <div class="confirmButton" ng-click="setActive(survey)">SET AS ACTIVE SURVEY</div>
        <div class="confirmButton" ng-click="responses2 = !responses2">VIEW RESPONSES</div>
        <br/><br/>

        <div ng-show="responses2">
            <div>
                <h5 style="display:inline;font-weight:bold;line-height:2em;">Do you feel like you gained something from this sprint?</h5>
                <div class="confirmButton" ng-click="results6 = !results6" style="display:inline;">View Results</div>
                <div ng-show="results6">
                    <h6>1. Yes // 82%</h6>
                    <h6>2. No // 4%</h6>
                    <h6>3. Indifferent // 14%</h6>
                </div>
            </div>

            <div>
                <h5 style="display:inline;font-weight:bold;line-height:2em;">Plan on joining the next sprint?</h5>
                <div class="confirmButton" ng-click="results7 = !results7" style="display:inline;">View Results</div>
                <div ng-show="results7">
                    <h6>1. Yes // 72%</h6>
                    <h6>2. No // 8%</h6>
                    <h6>3. Thinking about it // 20%</h6>
                </div>
            </div>

            <div>
                <h5 style="display:inline;font-weight:bold;line-height:2em;">Any comments?</h5>
                <div class="confirmButton" ng-click="results8 = !results8" style="display:inline;">View Results</div>
                <div ng-show="results8">
                    <p>Bring... It... On...</p>
                    <p>I am part of Theresa's linus team</p>
                    <p>2nd time through should be better</p>
                    <p>new to Git and GitHub!</p>
                    <p>I recently graduated from Prime and am neck deep in the job search.</p>
                    <p>I've had other obligations since finishing Prime and haven't done much coding, but I'm excited to get back into it and get back in the job search.</p>
                </div>
            </div>
            </br>
            </br>
        </div>
    </div>

    <div>
      <h3>{{newForm.title}} </h3>
      <p>{{newForm.description}}</p>
      <div ng-if="newForm.title != ''" class="confirmButton" ng-click="setActive(survey)">SET AS ACTIVE SURVEY</div>
      <div ng-if="newForm.title != ''" class="confirmButton" ng-click="responses2 = !responses2">VIEW RESPONSES</div>
    </div>


</div>
