
<div class="dynamicForm_container">
    <h3>Create Form</h3>
    <form ng-model="newSurveyQuestion">
        <input class="surveyTitle" placeholder="Survey Title" type="text" ng-model="newForm.title" style="font-weight:bold;" />
        <input class="surveyDescription" type="text" placeholder="description" ng-model="newForm.description" />
        <!-- <h5>TODO: add form options ie: 'start sprint/general survey && email '</h5> -->
        <br />
        <div class="questionTitleContainer">

            <label>Question Type: </label>
            <div class="confirmButton" ng-click="selectedDataType('checkBox')">Check-Box</div>
            <div class="confirmButton" ng-click="selectedDataType('multipleChoice')">Multiple Choice</div>
            <div class="confirmButton" ng-click="selectedDataType('shortAnswer')">Short Answer</div>
            <input class="questionTitle" type="text" placeholder="new question" ng-model="newSurveyQuestion.title" value="newSurveyQuestion.title" />
        </div>
        <br />
        <!-- shortanswer -->
        <div ng-if="shortAnswer_selected">
            <input class="formInput_shortAnswer" placeholder="answer here" ng-model="newSurveyQuestion.shortAnswer" value="newSurveyQuestion.shortAnswer" />
        </div>

        <!-- multiplechoice -->
        <div ng-if="multipleChoice_selected">
            <p class="indexCounter">desc:</p>
            <input class="choiceDescription" type="text" ng-model="newSurveyQuestion.description_MultiChoice" value="newSurveyQuestion.description_MultiChoice" />

            <div ng-repeat="option in newSurveyQuestion.multipleChoice track by $index">
                <p class="indexCounter">{{$index + 1}}.<input class="inputButtonThing" type="radio"></input>
                </p>

                <input class="formInput_option" placeholder="new option" ng-model="newSurveyQuestion.multipleChoice[$index].option" value="newSurveyQuestion.multipleChoice[$index].option" />

            </div>
            <div class="confirmButton newOption" ng-click="addOption()">New Option</div>
        </div>

        <!-- checkbox -->
        <div ng-if="checkBox_selected">
            <p class="indexCounter">desc: </p>
            <input class="choiceDescription" type="text" ng-model="newSurveyQuestion.description_Checkbox" value="newSurveyQuestion.description_Checkbox" />

            <div ng-repeat="option in newSurveyQuestion.checkbox track by $index">
                <p class="indexCounter"> {{$index + 1}}.<input class="inputButtonThing" type="checkbox"></input>
                </p>

                <input class="formInput_option" placeholder="new option" ng-model="newSurveyQuestion.checkbox[$index].option" value="newSurveyQuestion.checkbox[$index].option" />

            </div>

            <div class="confirmButton newOption" ng-click="addOption()">New Option</div>

        </div>
        <br />
        <div class="confirmButton" ng-if="checkBox_selected || multipleChoice_selected || shortAnswer_selected" ng-click="addQuestion(newSurveyQuestion)">ADD QUESTION TO FORM</div>

    </form>



    <div ng-if="newForm.title != ''" class="currentForm">
        <h1 class="formCurrentTitle">{{newForm.title}}</h1>
        <h4 class="formDescTitle">{{newForm.description}}</h4>
        <div class="{{($index % 2) === 0 ? 'currentForm_title' : 'currentForm_title2'}}" ng-repeat="question in newForm.questions track by $index">
            {{question.title}}
            <div ng-if="question.type == 'checkbox'">
                <div class="question_desc">{{question.desc}} </div>

                <div ng-repeat="option in question.options">
                    <input type="checkbox" />{{option.option}}
                </div>
            </div>


            <div ng-if="question.type == 'multipleChoice'">
                <div class="question_desc">{{question.desc}} </div>

                <div ng-repeat="option in question.options">
                    <input type="radio" />{{option.option}}
                </div>
            </div>


            <div ng-if="question.type == 'shortAnswer'">
                <input type="text" class="formInput_shortAnswer" />
            </div>
        </div>

        <div ng-if="newForm.questions.length != 0" class="confirmButton" ng-click="submitForm(newForm)">Save Form</div>
        <div ng-if="newForm.questions.length != 0" class="confirmButton" ng-click="submitFormMakeActive(newForm)">Save Form and Set As Active Survey</div>


    </div>




</div>
