<div class="dynamicForm_container" ng-controller="DynamicFormController">
    <h3>Create Form</h3>
    <form ng-model="newSurveyQuestion">
        <input class="surveyTitle" type="text" ng-model="surveyTitle.title" />
        <input class="surveyDescription" type="text" placeholder="no form description" ng-model="surveyTitle.description" />
        <h5>TODO: add form options ie: 'start sprint/general survey && email '</h5>
        <br />
        <div class="questionTitleContainer">
            <input class="questionTitle" type="text" ng-model="newSurveyQuestion.title" value="newSurveyQuestion.title" />
            <label>Question Type: </label>
            <button ng-click="selectedDataType('checkBox')">CheckBox</button>
            <button ng-click="selectedDataType('multipleChoice')">MultipleChoice</button>
            <button ng-click="selectedDataType('shortAnswer')">Short Answer</button>
            <br />
        </div>

        <!-- shortanswer -->
        <div ng-if="shortAnswer_selected">
            <input class="formInput_option" placeholder="new option" ng-model="newSurveyQuestion.shortAnswer" value="newSurveyQuestion.shortAnswer" />
        </div>

        <!-- multiplechoice -->
        <div ng-if="multipleChoice_selected">
            <label>desc: </label>
            <input class="choiceDescription" type="text" ng-model="newSurveyQuestion.description_MultiChoice" value="newSurveyQuestion.description_MultiChoice" />

            <div ng-repeat="option in newSurveyQuestion.multipleChoice track by $index">
                {{$index + 1}}.
                <input type="radio"></input>
                <input class="formInput_option" placeholder="new option" ng-model="newSurveyQuestion.multipleChoice[$index].option" value="newSurveyQuestion.multipleChoice[$index].option" />

            </div>
            <button ng-click="addOption()">Add New Option</button>
        </div>

        <!-- checkbox -->
        <div ng-if="checkBox_selected">
            <label>desc: </label>
            <input class="choiceDescription" type="text" ng-model="newSurveyQuestion.description_Checkbox" value="newSurveyQuestion.description_Checkbox" />

            <div ng-repeat="option in newSurveyQuestion.checkbox track by $index">
                {{$index + 1}}.
                <input type="checkbox"></input>
                <input class="formInput_option" placeholder="new option" ng-model="newSurveyQuestion.checkbox[$index].option" value="newSurveyQuestion.checkbox[$index].option" />

            </div>
            <button ng-click="addOption()">Add New Option</button>
        </div>

        <button ng-if="checkBox_selected || multipleChoice_selected || shortAnswer_selected" ng-click="addQuestion(newSurveyQuestion)">ADD QUESTION TO FORM</button>

    </form>

    <div class="currentForm">
        <h1>{{newForm.title}}</h1>
        <h4>{{newForm.description}}</h4>
        <div class="{{($index % 2) === 0 ? 'currentForm_title' : 'currentForm_title2'}}" ng-repeat="question in newForm.questions track by $index">
            {{question.title}}
            <div ng-if="question.type == 'checkbox'">
                <div class="question_desc">{{question.desc}} </div>

                <div ng-repeat="option in question.options">
                    <input type="checkbox" />{{option.option}}
                </div>
            </div>


            <div ng-if="question.type == 'multipleChoice'">
                <div class="question_desc">{{question.desc}} </div>

                <div ng-repeat="option in question.options">
                    <input type="radio" />{{option.option}}
                </div>
            </div>


            <div ng-if="question.type == 'shortAnswer'">
                <input type = "text" class="shortAnswer_inputForm" />
            </div>
        </div>

    </div>


</div>

<!-- <label>Question:</label><input placeholder="required" ng-model="buildForm.inputQuestion" id="dF_inputQuestion" type="text"/></br>
<label ng-if="shortAnswer_selected">Placeholder:</label><input ng-if="shortAnswer_selected" ng-model="buildForm.inputQuestion_placeholder" placeholder = "no placeholder text"  type="text"/>
<label ng-if="number_selected">Value Label:</label><input ng-if="number_selected" ng-model="buildForm.inputQuestion_numValue" placeholder = "no value label"  type="text"/>
<section class="dF_chooseDataButtons">


<button ng-click="selectedDataType('shortAnswer')">Short Answer</button>
<button ng-click="selectedDataType('number')">Number</button>
<button ng-click="selectedDataType('date')">Date</button>
<button ng-click="selectedDataType('chooseMany')">Choose Many</button>
<button ng-click="selectedDataType('chooseOne')">Choose One</button>
    </section>
  </br>

<div class="dF_choosenDataForm">

  ------------------ short answer form ------------------------
  <section ng-if="shortAnswer_selected" class="shortAnswer_form">
    <label editable-text="buildForm.inputQuestion">{{ buildForm.inputQuestion || "error: no question written" }}:</label><input placeholder="{{buildForm.inputQuestion_placeholder}}"class="dF_shortAnswerInput" type="text"/>
    <br /><button class="btn"> ADD QUESTION TO FORM </button>
  </section>


  ------------------ numeric data form ----------------------
  <section ng-if="number_selected" class="number_form">
      <label editable-text="buildForm.inputQuestion">{{ buildForm.inputQuestion || "empty" }}</label></br><label>{{buildForm.inputQuestion_numValue}}:</label><input class="dF_numberInput" type="number"/>
      <br /><button class="btn"> ADD QUESTION TO FORM </button>
  </section>


  ------------------ date select form -----------------------
  <section ng-if="date_selected" class="date_form">
    <label editable-text="buildForm.inputQuestion">{{ buildForm.inputQuestion || "empty" }}</label><input class="dF_numberInput" type="date"/>
    <br /><button class="btn"> ADD QUESTION TO FORM </button>
  </section>


  ------------------ choose multiple form -------------------
  <section ng-if="chooseMany_selected" class="chooseMany_form">
    <label editable-text="buildForm.inputQuestion">{{ buildForm.inputQuestion || "empty" }}</label><br />
    <input type="text" /><input class="dF_numberInput" type="checkbox"/><br />
    <input type="text" /><input class="dF_numberInput" type="checkbox"/><br />
    <input type="text" /><input class="dF_numberInput" type="checkbox"/><br />
    <input type="text" /><input class="dF_numberInput" type="checkbox"/><br />
    <button> add another option</button>
    <br /><button class="btn"> ADD QUESTION TO FORM </button>
  </section>


  ------------------ choose one form ------------------------
  <section ng-if="chooseOne_selected" class="chooseOne_form">
    <label editable-text="buildForm.inputQuestion">{{ buildForm.inputQuestion || "empty" }}</label><br />
    <input type="text" /><input class="dF_numberInput" type="radio"/><br />
    <input type="text" /><input class="dF_numberInput" type="radio"/><br />
    <input type="text" /><input class="dF_numberInput" type="radio"/><br />
    <input type="text" /><input class="dF_numberInput" type="radio"/><br />
    <button> add another option</button>
    <br /><button class="btn"> ADD QUESTION TO FORM </button>
  </section> -->
