<form class="emailForm">
    <label for="emails">To:</label>
    <input ng-model="emailInfo.sendAddress" type="text" placeholder="email to send to" ng-value="emails"></input>
    <input ng-model="emailInfo.subject" type="text" placeholder="Subject (Required)"></input>
    <textarea class="headerText" ng-model="emailInfo.header" type="text" placeholder="Header Text (Required)"></textarea>
    <textarea class="bodyText" ng-model="emailInfo.body" type="text" placeholder="body (required)"></textarea>
    <div class="confirmButton" type="submit" ng-click="sendEmail(emailInfo)">Send</div>
    <div class="confirmButton" ng-click="allEmails()">Send to all users</div>
</form>


<div class="popOut" ng-if="emailSent">
  <div class="questionsBox">
      <div class="firstLogTitle">
        <h2>Email Sent!</h2>
      </div>
    </div>
  </div>
</div>
