<div class="tabBar">
    <div class="tab" ng-click="tab = 1">Sprint</div>
    <div class="tab" ng-click="tab = 2">Config</div>
    <div class="tab" ng-click="tab = 3">Invite</div>

</div>


<div class="main_container" ng-if="tab == 1">
    <p>view pending members, generate team names, assign captains, sort by language tags, sprint start and end times</p>
    <i class="fa fa-github" aria-hidden="true"></i>
</div>

<div class="main_container" ng-if="tab == 2">
    <p>current member list w/ stats, editable</p>
    <i class="fa fa-github" aria-hidden="true"></i>
</div>

<div class="main_container" ng-if="tab == 3">
    <div class="dynamicForm_container" ng-include="'/views/partials/dynamicForm.html'"></div>
    <p>survey form (creates pending members), email invite, add form history button</p>
    <div ng-include="'/views/partials/invite.html'"></div>


</div>
