<div class="tabBar">
  <div class="tab" ng-click="tab = 1">tab 1</div>
  <div class="tab" ng-click="tab = 2">tab 2</div>
  <div class="tab" ng-click="tab = 3">tab 3</div>

</div>


<div class="main_container" ng-if="tab == 1">
    <p>first</p>
    <i class="fa fa-github" aria-hidden="true"></i>
 </div>

<div class="main_container" ng-if="tab == 2">
    <p>second</p>
    <i class="fa fa-github" aria-hidden="true"></i>
</div>

<div class="main_container" ng-if="tab == 3">
    <p>third</p>
    <i class="fa fa-github" aria-hidden="true"></i>
</div>
