<div class="tabBar">
  <div class="tab" ng-click="tab = 1">new form</div>
  <div class="tab" ng-click="tab = 2">form history</div>
  <div class="tab" ng-click="tab = 3">create sprint</div>

</div>


<div class="main_container" ng-if="tab == 1">
    <div ng-include="'/views/partials/dynamicForm.html'"></div>
    <i class="fa fa-github" aria-hidden="true"></i>
 </div>

<div class="main_container" ng-if="tab == 2">
    <p>second</p>
    <i class="fa fa-github" aria-hidden="true"></i>
</div>

<div class="main_container" ng-if="tab == 3">
    <p>third</p>
    <i class="fa fa-github" aria-hidden="true"></i>
</div>
