<form class="emailForm" ng-controller="InviteController">
  <input ng-model="emailInfo.sendAddress" type="email" placeholder="email to send to"></input>
  <input ng-model="emailInfo.subject" type="text" placeholder="subject"></input>
  <textarea class="headerText" ng-model="emailInfo.header" type="text" placeholder="header"></textarea>
  <textarea class="bodyText" ng-model="emailInfo.body" type="text" placeholder="body"></textarea>
  <button type="submit" ng-click="email(emailInfo)">Send</button>
</form>
