<div ng-controller="NavController">

    <div class="content">
        <div id="home" class="homeButton"><a href="#home">Home</a></div>

        <div id="login" class="loginButton" ng-if="!user" ng-click="logIn()"><a href="#login">Login</a></div>
        <div id="login" class="loginButton" ng-if="user" ng-click="logOff()"><a href="#login">Logoff</a></div>

        <!-- ng-if="currentUser.authLevel == 33" -->
        <div class="topNavContainer">
            <a href="#data"><button class="topNavButton" ng-if="user">Dash</button></a>

            <a href="#forms"><button class="topNavButton" ng-if="user">Sprint</button></a>
        </div>

    </div>

</div>
