<div ng-controller="NavController">

    <div class="content">
        <!-- <div id="home" class="homeButton"><a href="#home">Home</a></div> -->

        <div class="loginButton" ng-if="!user" ng-click="logIn()">LOGIN</div>
        <div class="loginButton" ng-if="user" ng-click="logOff()">LOGOFF</div>

        <!-- <h1 id="siteTitle">Commitment</h1> -->
        <div id="logoWords">COMMITMENT</div>
        <img id="logo" ng-src="../styles/images/demdots2.png"/>
        <!-- ng-if="currentUser.authLevel == 33"    ng-if="user.auth_level == 33"-->
        <div class="topNavContainer" ng-if="currentUser == 33">
            <a href="#data"><div class="topNavButton dashButton" ng-if="user">Dash</div></a>
            <a href="#forms"><div class="topNavButton adminButton" ng-if="user">Admin</div></a>
        </div>

    </div>

</div>

<div class="popOut" ng-show="firstLogIn">
  <div class="exitFullScreen" ng-click="closeWindow()">X</div>

</div>
